.cadastro-container {
	background-color: #ffffff;
	width: 80%;
	max-width: 350px;
	margin: 80px auto;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
}

.cadastro-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.input-group {
	margin-bottom: 15px;
}

.input-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.input-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.input-group button {
	width: 100%;
	padding: 10px;
	background-color: #28a745;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

#esqueci-senha {
	/* Isso precisa ser alterado dinamicamente por script para fazer sumir e aparecer */
	display: none;
}
