.container {
	width: 80%;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	flex-grow: 1; 
}

.filter-bar {
	margin-bottom: 20px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.filter-bar label {
	font-weight: bold;
}

.filter-bar input[type="text"],
.filter-bar select,
.filter-bar button {
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.book-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	margin-top: 20px;
}

.book-item {
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

.book-item img {
  max-width: 100%; 
  height: auto;   
  margin-bottom: 10px;
  width: 100px;
  height: 150px;
	object-fit: cover;
}

.book-item h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 1.2em;
}

.book-item p {
	margin-bottom: 8px;
	font-size: 0.9em;
	color: #666;
}

.book-item .availability {
	font-weight: bold;
}

.available {
	color: green;
}

.unavailable {
	color: red;
}

.reserved {
	color: orange;
}

.book-actions {
	margin-top: 10px;
}

.book-actions a,
.book-actions button {
	display: inline-block;
	padding: 8px 15px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	margin: 5px;
	border: none;
	cursor: pointer;
	font-size: 0.9em;
}

.book-actions a:hover,
.book-actions button:hover {
	background-color: #0056b3;
}

.book-actions .reserve {
	background-color: #f0ad4e;
}

.book-actions .reserve:hover {
	background-color: #eea236;
}

.book-actions .borrow {
	background-color: #5cb85c;
}

.book-actions .borrow:hover {
	background-color: #4cae4c;
}
